
        <div class="page-content-inner">
    <!-- .page-content-inner -->
    <div id="page-header" class="clearfix">
        <div class="page-header">
            <h2>Admin Page</h2>

        </div>
        @*<div class="header-stats">
                <div class="spark clearfix">
                    <div class="spark-info"><span class="number">UK</span></div>
                    <div id="spark-visitors" class="sparkline"></div>
                </div>
                <div class="spark clearfix">
                    <div class="spark-info"><span class="number">HK</span></div>
                    <div id="spark-templateviews" class="sparkline"></div>
                </div>
                <div class="spark clearfix">
                    <div class="spark-info"><span class="number">US</span></div>
                    <div id="spark-sales" class="sparkline"></div>
                </div>
                <div class="spark clearfix">
                    <div class="spark-info"><span class="number">Europe</span></div>
                    <div id="spark-europe" class="sparkline"></div>
                </div>
                <div class="spark clearfix">
                    <div class="spark-info"><span class="number">P2P</span></div>
                    <div id="spark-p2p" class="sparkline"></div>
                </div>
            </div>*@
    </div>
    <div class="row">
        <!-- .row -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <!-- .col-md-3 -->
            <div class="panel panel-info tile panelClose panelRefresh">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title">Total Suppliers</h4>
                </div>
                <div class="panel-body pt0">
                    <div class="progressbar-stats-1">
                        <div class="stats">
                            <i class="l-ecommerce-cart-content"></i>
                            <div class="stats-number" data-from="0" data-to="76">@Model.Suppliers.Length</div>
                        </div>
                        <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                            <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="63"></div>
                        </div>
                        <div class="comparison">
                            <p class="mb0"><i class="fa fa-arrow-circle-o-up s20 mr5 pull-left"></i> Updated from @DateTime.Now.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- / .col-md-3 -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <!-- .col-md-3 -->
            <div class="panel panel-success tile panelClose panelRefresh">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title">Online Visitors</h4>
                </div>
                <div class="panel-body pt0">
                    <div class="progressbar-stats-1">
                        <div class="stats">
                            <i class="l-basic-geolocalize-05"></i>
                            <div class="stats-number" data-from="0" data-to="2547">0</div>
                        </div>
                        <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                            <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="86"></div>
                        </div>
                        <div class="comparison">
                            <p class="mb0"><i class="fa fa-arrow-circle-o-up s20 mr5 pull-left"></i> Updated from @DateTime.Now.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- / .col-md-3 -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <!-- .col-md-3 -->
            <div class="panel panel-danger tile panelClose panelRefresh">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title">Total Employees</h4>
                </div>
                <div class="panel-body pt0">
                    <div class="progressbar-stats-1">
                        <div class="stats">
                            <i class="l-basic-life-buoy"></i>
                            <div class="stats-number" data-from="0" data-to="78">@Model.Employees.Length</div>
                        </div>
                        <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                            <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="35"></div>
                        </div>
                        <div class="comparison">
                            <p class="mb0"><i class="fa fa-arrow-circle-o-down s20 mr5 pull-left"></i>Updated from @DateTime.Now.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- / .col-md-3 -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <!-- .col-md-3 -->
            <div class="panel panel-default tile panelClose panelRefresh">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title">Total Invoices</h4>
                </div>
                <div class="panel-body pt0">
                    <div class="progressbar-stats-1 dark">
                        <div class="stats">
                            <i class="l-banknote"></i>
                            <div class="stats-number" >@Model.Invoices.Length</div>
                        </div>
                        <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                            <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="55"></div>
                        </div>
                        <div class="comparison">
                            <p class="mb0"><i class="fa fa-arrow-circle-o-down s20 mr5 pull-left"></i> Updated from @DateTime.Now.ToString("dd/MM/yyyy")</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- / .col-md-3 -->
    </div>
    <!-- / .row -->

            @*<div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <!-- col-lg-4 start here -->
                    <div class="tabs mb20">
                        <ul id="profileTab" class="nav nav-tabs">
                            <li>
                                <a href="#overview" data-toggle="tab">Article</a>
                            </li>
                          
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="overview">
                                <h5>Article EnotsCompany</h5>
                                <ul class="timeline timeline-icons">
                                    @foreach (var item in @Model.Articles)
                                    {
                                        <li>
                                            <p>
                                                <a href="#">@item.Title</a>
                                                <span class="timeline-icon"><i class="fa fa-file-text-o"></i></span>
                                                <span class="timeline-date">@item.AddDate</span>
                                            </p>
                                        </li>
                                    }
                                    
                                </ul>
                                <a href="#" class="btn btn-default timeline-load-more-btn"><i class="fa fa-refresh"></i> Load more </a>
                            </div>
                           
                        </div>
                    </div>
                    <!-- End .tabs -->
                </div>
                <!-- col-lg-4 end here -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- col-lg-4 start here -->
                    @*<div class="panel panel-default plain">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h4 class="panel-title">User purchase</h4>
                        </div>
                        <div class="panel-body">
                            <div id="user-purchase-chart" style="width: 100%; height:250px;"></div>
                            <div class="row">
                                <!-- Start .row -->
                                <div class="mt20 bt"></div>
                                <div class="col-lg-6 text-center">
                                    <!-- col-lg-6 start here -->
                                    <h5 class="mt20 mb0">Stats by type</h5>
                                    <div id="morris-donut" style="width: 100%; height:180px;"></div>
                                </div>
                                <!-- col-lg-6 end here -->
                                <div class="col-lg-6 text-center">
                                    <!-- col-lg-6 start here -->
                                    <h5 class="mt20 mb0">Purchase distribution</h5>
                                    <div class="canvas-holder mt15">
                                        <canvas id="radar-chartjs" height="180"></canvas>
                                    </div>
                                </div>
                                <!-- col-lg-6 end here -->
                            </div>
                            <!-- End .row -->
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- col-lg-4 end here -->
            </div>*@

         
        </div>
        <!-- / .page-content-inner -->
