@model EnotsCompany.Models.ItemModel
<div class="page-content-inner">
    <!-- Start .page-content-inner -->
    <form asp-action="ItemSave" asp-controller="Supplier" enctype="multipart/form-data" class="form-horizontal group-border stripped">
        <div id="page-header" class="clearfix">
            <div class="page-header">
                <h2>Items</h2>
            </div>
            <div class="header-stats">
                <div class="spark clearfix">
                    <button type="submit" class="btn btn-info"><i class="fa fa-save"></i></button>
                    <a asp-action="ItemIndex" asp-controller="Supplier"><i class="btn btn-info fa fa-mail-reply"></i></a>
                </div>
            </div>
        </div>
        <div class="@(ViewBag.flag == "success" ? "alert alert-success fade in" : ViewBag.flag == "error" ? "alert alert-danger fade in" : "hidden")">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-check alert-icon "></i>
            @ViewBag.message
        </div>
        <div class="row">
            <div class="col-lg-12 sortable-layout">
                <!-- col-lg-6 start here -->
                <div class="panel panel-default toggle">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title">Add new item</h4>
                    </div>
                    <div class="panel-body p0">
                        <div class="tabs inside-panel">
                            <ul id="myTab5" class="nav nav-tabs">
                                <li>
                                    <a href="#home5" data-toggle="tab">General</a>
                                </li>
                                <li class="">
                                    <a href="#profile5" data-toggle="tab">Data</a>
                                </li>
                                <li class="">
                                    <a href="#settings5" data-toggle="tab">Image</a>
                                </li>
                                <li class="">
                                    <a href="#faq" data-toggle="tab">FAQ</a>
                                </li>
                            </ul>
                            <div id="myTabContent5" class="tab-content">
                                <div class="tab-pane fade active in" id="home5">

                                    <div class="form-group hidden">
                                        <label class="col-lg-2 col-md-3 control-label" for="">ItemId</label>
                                        <div class="col-lg-10 col-md-9">
                                            <input type="text" class="form-control" asp-for="@Model.ItemId">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label" for="">*Item Name</label>
                                        <div class="col-lg-10 col-md-9">
                                            <input type="text" class="form-control required" min="5" required asp-for="@Model.ItemName">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label">Description</label>
                                        <div class="col-lg-10 col-md-9">
                                            <textarea id="summernote" asp-for="@Model.DescriptionItem"></textarea>
                                        </div>
                                    </div>


                                </div>
                                <div class="tab-pane fade" id="profile5">

                                    @*<div class="form-group hidden">
                                            <label class="col-lg-2 col-md-3 control-label" for="">Image</label>
                                            <div class="col-lg-10 col-md-9">
                                                <input type="text" required asp-for="@Model.ImageItem">
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label">Category</label>
                                        <div class="col-lg-10 col-md-9">
                                            <select required asp-for="@Model.CategoryId" asp-items="@(new SelectList(Model.categories,"CategoryId","CategoryName"))" class="form-control">
                                                <option>Select Category</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label">Parent Item</label>
                                        <div class="col-lg-10 col-md-9">
                                            <select asp-for="@Model.ParentItem" asp-items="@(new SelectList(Model.parentitems,"ItemId","ItemName"))" class="form-control">
                                                <option>Select Parent Item</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group hidden">
                                        <label class="col-lg-2 col-md-3 control-label">Supplier</label>
                                        <div class="col-lg-10 col-md-9">
                                            <select class="form-control" required asp-for="@Model.SupplierId" asp-items="@(new SelectList(Model.suppliers,"SupplierId","CompanyName"))">
                                                <option>Select Supplier</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label">Unit</label>
                                        <div class="col-lg-10 col-md-9">
                                            <select asp-for="@Model.UnitId" required asp-items="@(new SelectList(Model.units,"UnitId","UnitName"))" class="form-control">
                                                <option>Select Unit</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label" for="">Price</label>
                                        <div class="col-lg-10 col-md-9">
                                            <input type="text" required class="form-control required" asp-for="@Model.Price">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label" for="">MinQuantity</label>
                                        <div class="col-lg-10 col-md-9">
                                            <input type="number" min="0" required class="form-control required" asp-for="@Model.MinQuantity">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label" for="">Discount</label>
                                        <div class="col-lg-10 col-md-9">
                                            <input type="number" min="0" max="100" class="form-control required" asp-for="@Model.Discount">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label" for="">Warranty</label>
                                        <div class="col-lg-10 col-md-9">
                                            <input type="text" class="form-control required" asp-for="@Model.Warranty">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label" for="">ShippingFee</label>
                                        <div class="col-lg-10 col-md-9">
                                            <input type="text" class="form-control required" asp-for="@Model.ShippingFee">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label" for="">Note</label>
                                        <div class="col-lg-10 col-md-9">
                                            <input type="text" class="form-control required" asp-for="@Model.Note">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label">Status</label>
                                        <div class="col-lg-10 col-md-9">
                                            <div class="radio-custom">
                                                <input type="radio" value="Enable" checked="checked" id="radio1" asp-for="@Model.StatusItem">
                                                <label for="radio1">Enable</label>
                                            </div>
                                            <div class="radio-custom">
                                                <input type="radio" value="Disable" id="radio2" asp-for="@Model.StatusItem">
                                                <label for="radio2">Disable</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group hidden">
                                        <label class="col-lg-2 col-md-3 control-label" for="">AddedDate</label>
                                        <div class="col-lg-10 col-md-9">
                                            <input type="text" class="form-control required" value="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="@Model.AddedDate">
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="settings5">
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label" for="">Main images</label>
                                        <div class="col-lg-10 col-md-9">
                                            <div class="col-sm-10">
                                                <input type="file" required id="files" name="files" />
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" onclick="addImage();" class="btn btn-primary pull-right"><i class="fa fa-plus-circle"></i></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="faq" class="tab-pane fade">
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-3 control-label" for="">FAQ</label>
                                        <div class="col-lg-10 col-md-9">
                                            <textarea id="comment" type="text" class="form-control required" asp-for="FAQ"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .tabs -->
                    </div>

                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-6 end here -->
        </div>
        <!-- End .row -->
    </form>
</div>
<script src="~/admin/js/jquery-2.1.1.min.js"></script>
<script>
    var image_row = 0;
    function addImage() {
        html = '<div id="image_' + image_row + '" class="form-group">'
        html += '<label class="col-lg-2 col-md-3 control-label" for="">Image</label>'
        html += '<div class="col-lg-10 col-md-9">'
        html += '<div class="col-sm-10">'
        html += '<input type="file"  id="files" name="files" multiple />'
        html += '</div>'
        html += '<div class="col-sm-2">'
        html += '<button type="button" onclick="removeImage(' + image_row + ');" class="btn btn-danger pull-right"><i class="fa fa-minus-circle"></i></button>'
        html += '</div>'
        html += '</div>'
        html += '</div>'
        $('#settings5').append(html);
        image_row++;
    }

    function removeImage(id) {
        $('#image_' + id + '').remove();
    }
</script>
